<%= stylesheet_link_tag 'admin' %>
<%= render partial: "layouts/admin_header" %>

<main>
  <div class ="content">
    <div class = "sub-title">
        <P>コメント一覧</P>
    </div>
  </div>
<div class="container mt-5">
<table class="table mt-3">
  <tr>
    <th class="col-8">コメント</th>
    <th class="col-1"></th>
    <th class="col-1"></th>
  </tr>
<% if @comments.present? %>
<% @comments.each do |comment| %>
  <tr>
    <td class="col-8"><%= comment.comment %></td>
    <td class="col-1"><%= comment.created_at.strftime('%Y/%m/%d/%H:%M') %></td>
    <td class="col-1">
    <%= button_to '削除', admin_user_comment_path(comment.user, comment), method: :delete, form: { data: { turbo_confirm: '本当に削除しますか?' }},class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
<% end %>
<% else %>
  <tr>
    <td class="col-8"><p>コメントはありません</p></td>
  </tr>
<% end %>
</table>
</div>
</main>