<%= stylesheet_link_tag 'admin' %>
<%= render partial: "layouts/admin_header" %>
<%= render partial: "layouts/admin_side_bar" %>

<style>
  side_bar {
  flex: 1;
  margin-left: 5px;
}

   main {
   text-align: left;
   width: 60%;
   flex: 2;
  }

  .sub_title {
    text-align: center;
  }

  .container {
  display: flex;
  justify-content: center; /* container内を中央揃えにする */
}
</style>


<main>
        <div class = "sub-title">
            <p><%= @user.name %>のお気に入り一覧</p>
        </div>
            <% if @favorite_posts.present? && @favorite_posts.present? %>
                <%= render partial: "layouts/admin/post", collection: @favorite_posts %>
            <% else %>
                <p>お気に入りの投稿はありません</p>
            <% end %>
</main>
</div>