<main>
  <div class="content">
  <div class = "title">
      <p>お店を検索する</p>
  </div>
  <div class = "search_box">
    <%= form_with(url: user_post_index_path, method: :get, local: true) do |form| %>
      <%= form.text_field :keyword, value: params[:keyword] %>

      <%= form.collection_select :tag_id, Tag.all, :id, :name, { include_blank: '--タグで絞り込み検索--', selected: params[:tag_id] }, { } %>

      <%= form.submit "検索" %>
    <% end %>
  </div>

  <%= render partial: "layouts/post", collection: @posts %>
  </div>
</main>
</div>