<header>
<script src="https://kit.fontawesome.com/153870c081.js" crossorigin="anonymous"></script>
  <div class = "icon">
   <%= link_to search_path do %>
    <i class="fas fa-search"></i>
   <% end %>
  </div>

  <div class = "logo">
            <%= link_to posts_path do %>
              <%= image_tag 'logo.png', size: "150x150" %>
            <% end %>
  </div>

  <div class = "header">

  <% if user_signed_in? %>
  <div class = "button">
   <%= button_to "About",  about_path, method: :get, data: { turbo_frame: "homes" },class: 'btn btn-default btn-outline' %>
  </div>
  <div class = "button">
   <%= button_to "ログアウト",  destroy_user_session_path,  method: :delete,data: { turbo_frame: "users" },class: 'btn btn-default btn-outline' %>
  </div>
   <div class = "icon">
            <%= link_to new_user_post_path do %>
              <%= image_tag 'pen.jpeg', size: "30x30" %>
            <% end %>
   </div>
  <% else %>
  <div class = "button">
   <%= button_to "About",  about_path, method: :get, data: { turbo_frame: "homes" },class: 'btn btn-default btn-outline' %>
  </div>
  <div class = "button">
   <%= button_to "新規登録",  new_user_registration_path, method: :get,data: { turbo_frame: "users" },class: 'btn btn-default btn-outline' %>
  </div>
  <% end %>
  </div>

</header>

<style>

 header{
    text-align: center;
 }


  div {
  	 display: inline-block;
  }


  .icon {
    margin:30px;
  }

  .logo {
  	margin-right: 150px;
  	margin-left:  250px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 450px;
  }

  form.button_to {
    width:150px;
    margin:20px;
  }

  .btn-outline {
  background-color: transparent;
  color: #000000; /* ボタンのテキストカラー */
  border-color: transparent;
  }

 .container{
   display:flex;
   flex-direction: column;
   padding-left:50px;
 }

 .favorite_button{
   text-align: left;
   margin-left: -30px;
 }

</style>

<div class = "container">

<div class = "title">
<%= @post.restaurant_name %> の詳細
</div>

<div class = "user_image" >
  <%# <%= image_tag @user.get_profile_image(100,100) %><!--user画像<-->
</div>

<div class = "user" >
  <%= @post.user.name %>(投稿者)
</div>

<div class = "image">
  <%= image_tag @post.image,size: "200x200" %>
</div>

<div class = "tags">
  このお店につけられたタグ：
  <% @post.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>
</div>

<div class ="budget">
  予算：<%= @post.budget %>円
</div>

<div class ="closest">
  最寄り駅：<%= @post.closest %>
</div>

<div class ="distance">
  最寄駅からの距離：<%= @post.distance %>
</div>

<div class = "favorite_button">
<% if user_signed_in? %>
  <% if @post.favorite?(current_user) %>
  <%= button_to user_post_favorite_path(@post), method: :delete ,class: 'btn btn-default btn-outline' do %>
  <p><span>❤︎</span>お気に入り解除</p>
  <% end %>
  <% else %>
  <%= button_to user_post_favorite_index_path(@post), method: :post, remote: true,class: 'btn btn-default btn-outline' do %>
  <p><span>♡︎</span>お気に入り</p>
  <% end %>
 <% end %>
<% end %>
</div>

<div class = "favorite">
  <p><span>♡︎</span>いいね！××件</p>
</div>

<div class = "comments">
  <p>コメント （×件）</p>
  <p><!--コメントしたuser<--></p>
  <!--コメント欄<-->
  <p><!--コメントした日時<--></p>
</div>








</div>