
<%= stylesheet_link_tag 'admin' %>

<%= render partial: "layouts/admin_header" %>
<style>

 .post_title{
   text-align: left;
 }

 .container{
   display:flex;
   flex-direction: column;
   padding-left:50px;
 }

 .tags span {
  display: inline-block;
  margin-right: 5px;
  background-color: #99FFCC; /* 好みの色に変更してください */
}

</style>

<main>
<div class = "container">

<div class = "post_title">
<%= @post.restaurant_name %> の詳細
</div>

<div class = "user" >
  <%= link_to admin_user_path(@post.user) do %>
    <% if @post.user.image.present? %>
      <%= image_tag @post.user.image,size: "50x50" %>
    <% else %>
      <%= image_tag 'guest.png',size: "50x50"%>
    <% end %>
  <% end %>
  <%= @post.user.name %>(投稿者)
</div>

<div class = "image">
        <% if @post.image.present? %>
          <%= image_tag @post.image,size: "200x200" %>
        <% else %>
          <%= image_tag 'post_no_image.png',size: "200x200" %>
        <% end %>
</div>

<div class = "tags">
  このお店につけられたタグ：</br>
  <% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
  <% end %>
</div>

<div class ="budget">
  予算：<%= @post.budget %>円
</div>

<div class ="closest">
  最寄り駅：<%= @post.closest %>駅
</div>

<div class ="distance">
  最寄駅からの距離：<%= @post.distance %>
</div>

<div class = "favorites-count">
    <p>いいね! <%= @post.favorites.count %> </p>
</div>
      <div class="comments ml-5 mt-5">
        <p>コメント件数：
        <%= @post.comments.count %></p>
       <% @comments.each do |comment| %>
	      <div class="comments-index mb-2">
        	<%= link_to admin_user_path(comment.user) do %>
            <% if comment.user.image.present? %>
              <%= image_tag comment.user.image,size: "50x50" %>
            <% else %>
              <%= image_tag 'guest.png',size: "50x50" %>
            <% end %>
          <% end %>
          <%= comment.user.name %>
          <%= comment.created_at.strftime('%Y/%m/%d/%H:%M') %><br>
          <div class="d-flex">
            <%= comment.comment %>
            <div class="comment-delete">
              <%= button_to "削除", admin_post_comment_path(@post, comment), method: :delete, class: "btn-sm btn-danger" %>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @comments %>
      </div>
    </div>
</main>
</div>