<%= stylesheet_link_tag 'admin' %>
<header>

  <div class = "title">
    管理者ページ
  </div>

  <div class = "logo">
            <%= link_to admin_path do %>
              <%= image_tag 'logo.png', size: "200x200" %>
            <% end %>
  </div>

  <div class = "header" style="display: inline;">
   <div class = "button">
   <%= button_to "Posts",  admin_path , method: :get, data: { turbo_frame: "users" },class: 'btn btn-default btn-outline' %>
   </div>
   <div class = "button">
   <%= button_to "ログアウト",  destroy_admin_session_path,  method: :delete,data: { turbo_frame: "admins" },class: 'btn btn-default btn-outline' %>
   </div>
  </div>


</header>

<style>

  div {
  	 display: inline-block;
  }

  .logo {
  	margin-right: 150px;
  	margin-left:  250px;
  }


  .header {
  padding-right : 20px;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 450px;
  }

  form.button_to {
    margin:20px;
    width: 180px;
  }

  .btn-outline {
  background-color: transparent;
  color: #000000; /* ボタンのテキストカラー */
  border-color: transparent;
}

main{
  display: flex;
  justify-content: center;
}


.container {
  display: flex;
}

.title {
  margin-bottom: 30px;
}

.table {
  margin: 0 auto;
}

.suspended form.button_to {
  color: #F00;
}

.suspended .btn {
  color: red;
}

.suspend {
  width: 180px;
}


</style>

<main>

  <div class="content">

    <div class = "sub-title">
    <p>ユーザー一覧</p>
    </div>
          <table class="table">
            <% @users.each do |user| %>
            <tr>
              <div class = "user" >
                <td>
                  <%= link_to admin_user_path(user) do %>
                        <% if user.image.present? %>
                          <%= image_tag user.image,size: "100x100" %>
                        <% else %>
                          <%= image_tag 'guest.png'%>
                        <% end %>
                  <% end %>
                </td>
              </div>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td>
                <%= button_to "投稿一覧",  user_posts_path(user), method: :get, data: { turbo_frame: "admins" }, class: 'btn btn-default btn-outline' %>
                <%= button_to "コメント一覧", user_comments_path(user) , method: :get, data: { turbo_frame: "admins" }, class: 'btn btn-default btn-outline' %>
                <% if user.suspended %>
                  <div class = "suspended">
                    <%= button_to "利用停止中", admin_user_path(user), method: :get, data: { turbo_frame: "admins" }, class: 'btn btn-default btn-outline' %>
                  </div>
                  <div class = "suspend">
                    <%= button_to "利用停止を解除する", unsuspend_admin_user_path(user), method: :patch, data: { turbo_frame: "admins" },
                      form: { data: { turbo_confirm: '利用停止を解除しますか?' }}, class: "btn btn-primary" %>
                  </div>
                <% else %>
                  <div class = "suspend">
                    <%= button_to "利用停止にする", suspend_admin_user_path(user), method: :patch, data: { turbo_frame: "admins" },
                    form: { data: { turbo_confirm: 'このユーザーを利用停止にしますか?' }}, class: "btn btn-danger" %>
                  </div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
  </div>
</main>