<%= stylesheet_link_tag 'admin' %>

<%= render partial: "layouts/admin_header" %>


<style>

main {
   text-align: center;
  }

  .sub_title {
    margin-right: 150px;
  }

  .container {
  display: flex;
  justify-content: center; /* container内を中央揃えにする */
}

  .user_profile{
    display: flex;
    gap: 10px;
  }

   .user {
    padding-top: 20px;
    margin: 0px;
  }


  .user_name{
    margin-bottom: 0px;
  }

  .user_name,.email{
    display: flex;
    gap: 10px;
    margin: 0px;
    height: 30px;
  }

  .favorite,.follow {
    display: flex;
    margin-left: 110px;
  }

  .follow {
  display: flex;
  align-items: center;
}

  .favorited,.favorite_index,.follows,.followers{
    display:flex;
    gap: 10px;
    margin-left: 5px;
  }

  .suspend {
  display: flex;
  justify-content: center;
}

</style>


<main>
  <div class="sub_title">
    <p>ユーザー情報</p>
  </div>
  <div class="container">
    <div class="user_info">
      <div class="user_profile">
        <% if @user.image.present? %>
          <%= image_tag @user.image, size: "100x100" %>
        <% else %>
          <%= image_tag 'guest.png' %>
        <% end %>
        <div class = "user">
          <div class="user_name">
            ユーザー名
            <%= @user.name %>
          </div>
          <div class="email">
            メールアドレス
            <%= @user.email %>
          </div>
        </div>
      </div>

      <div class = "favorite">
        <div class="favorited">
          <p>いいね！</p>
          <%= @user.posts.inject(0) { |sum, post| sum + post.favorites.count } %>
        </div>
        <div class="favorite_index">
          <p>お気に入り</p>
          <%= link_to admin_user_favorite_index_path(@user) do %>
            <%= @user.favorites.count %>
          <% end %>
        </div>
      </div>

      <div class="follow">
        <div class="follows">
          <p>フォロー</p>
          <%= link_to follows_admin_user_path(@user) do %>
            <%= @user.followers.count %>
          <% end %>
        </div>
        <div class="followers">
          <p>フォロワー</p>
          <%= link_to followers_admin_user_path(@user) do %>
            <%= @user.followereds.count %>
          <% end %>
        </div>
      </div>

      <% if @user.suspended %>
        <div class = "suspend" style="color: red; font-weight: bold;　">
         <p>利用停止中のユーザーです</p>
        </div>
      <% else %>
        <div class = "suspend" style="color: green; font-weight: bold;">
         <p>利用中</p>
        </div>
      <% end %>
    </div>
  </div>
</main>
</div>