<style>
main {
   text-align: center;
  }

  .sub_title {
    text-align: center;
  }

  .container {
  display: flex;
  justify-content: center; /* container内を中央揃えにする */
}

  .user_profile{
    display: flex;
    gap: 10px;
  }

  .user_name{
    margin-bottom: 0px;
  }

  .user_name,.email{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0px;
    height: 30px;
  }

  .favorite,.follow {
    display: flex;
    margin-left: 110px;
  }

  .favorited,.favorite_index,.follows,.followers{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-left: 5px;
  }

</style>

<main>
  <div class = "container">
    <div class = "sub-title">
       <p>ユーザー詳細</p>
          <div class="user_info">
              <div class = "user_profile">
                  <% if @user.image.present? %>
                    <%= image_tag @user.image,size: "100x100" %>
                  <% else %>
                    <%= image_tag 'guest.png'%>
                  <% end %>
              </div>
              <div class = "user_name">
                <%= @user.name %>
              </div>
              <div class = "favorited">
                <p>いいね！</p>
                 <%= @user.posts.inject(0) { |sum, post| sum + post.favorites.count } %>
              </div>
              <div class = "favorite_index">
                <p>お気に入り</p>
                <%= link_to user_user_favorite_index_path(@user) do %>
                  <%= @user.favorites.count %>
                <% end %>
              </div>


              <th>Follows</th>
                <td>
                  <%= link_to follows_user_user_path(@user) do %>
                    <h6><%= @user.followers.count %></h6>
                  <% end %>
                </td>
                </tr>
                <tr>
                  <th>Followers</th>
                  <td>
                    <%= link_to followers_user_user_path(@user) do %>
                      <h6><%= @user.followereds.count %></h6>
                    <% end %>
                  </td>
                </tr>
                <tr>
                <td>
                <% if current_user != @user %>
                    <% if current_user.following_users.include?(@user) %>
                      <%= button_to "フォローを外す", user_user_relationship_path(@user), method: :delete, class: "btn btn-danger" %>
                    <% else %>
                      <%= button_to "フォローする",user_user_relationship_index_path(@user), method: :post, class:"btn btn-success" %>
                    <% end %>
                  <% end %>
                </td>
          </div>





    </div>
  </div>
</main>

