<% if !["home", "sessions", "registrations"].include?(controller_name) || !["top", "new"].include?(action_name) %>
  <% if !request.path.start_with?("/admin") %>
    <div class = "flex-container">
      <% if user_signed_in? %>
        <side_bar>
          <div class="user_info">
              <div class = "user_profile">
                <%= link_to edit_user_user_path(@current_user) do %>
                  <% if @current_user.image.present? %>
                    <%= image_tag @current_user.image,size: "100x100" %>
                  <% else %>
                    <%= image_tag 'guest.png'%>
                  <% end %>
                <% end %>
              </div>
              <div class = "user_name">
                <%= @current_user.name %>
              </div>
              <div class="email">
                <p>メールアドレス</p>
                <%= @current_user.email %>
              </div>
              <div class = "favorite">
                <div class="favorited">
                  <p>いいね！</p>
                    <%= @current_user.posts.inject(0) { |sum, post| sum + post.favorites.count } %>
                </div>
                <div class="favorite_index">
                  <p>お気に入り</p>
                  <%= link_to user_user_favorite_index_path(@current_user) do %>
                    <%= @current_user.favorites.count %>
                  <% end %>
                </div>
              </div>

              <div class = "follow">
                <div class="follows">
                  <p>フォロー</p>
                    <%= link_to follows_user_user_path(@current_user) do %>
                      <h6><%= @current_user.followers.count %></h6>
                    <% end %>
                </div>
                <div class="followers">
                  <p>フォロワー</p>
                    <%= link_to followers_user_user_path(@current_user) do %>
                      <h6><%= @current_user.followereds.count %></h6>
                    <% end %>
                </div>
              </div>
          </div>
        </side_bar>


            <% else %>
              <side_bar>
                <div class="user_info">
                  <div class = "user_profile">
                    <%= image_tag 'guest.png'%>
                  </div>
                  <div class = "user_name">
                    <p>ゲスト</p>
                  </div>

                </div>
            </side_bar>

      <% end %>
  <% end %>
<% end %>

